#
# Access logs formating
#
log_format timed_combined '$remote_addr - $remote_user [$time_local]  '
    '"$request" $status $body_bytes_sent '
    '"$http_referer" "$http_user_agent" '
    '$request_time $upstream_response_time $pipe';


#
# The get requests upstream
#
upstream getbackend {
    <% upstream_get_servers.each do |server| %>
        server <%= server %>;
    <% end %>
}


#
# The post requests upstream
#
upstream postbackend {
    <% upstream_post_servers.each do |server| %>
        server <%= server %>;
    <% end %>
}


#
# Server configuration
#
server {
    access_log   /var/log/nginx/my.access.log timed_combined;

    location / {
        proxy_pass_request_headers on;
        proxy_set_header ALLHOSTS <%= "'" + allhosts + "'" %>;

        if ($request_method = POST) {
            proxy_pass http://postbackend;
            break;
        }

        proxy_pass http://getbackend;
    }

}


